.card-container {
  display: grid;
  grid-template-columns: repeat(5, 16.5vw);
  grid-auto-rows: auto;
  grid-gap: 2rem;
}

.userCard {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1.5rem 0;
  border: none;
  background-color: rgb(45, 54, 74);
  border-radius: 0.5rem;
  font-size: 0.8rem;
  overflow-wrap: break-word;
  align-items: center;
}

.userCard:hover {
  box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.447);
  background-color: turquoise;
  color: black;
}

.userCard button {
  font-family: Roboto Mono;
  padding: 0.5rem;
  color: white;
  background-color: darkslategrey;
  border: white;
  border-radius: 0.2rem;
  margin: 1.2rem 0;
}

.userCard button:hover {
  background-color: orangered;
}

.userCard img {
  max-width: 80px;
  border-radius: 50%;
}

.svgLoader {
  margin: 4rem auto;
}
