@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.App {
  font-family: 'Roboto Mono', monospace;
  background-color: #22262d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: flex-start; */
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 14px;
  padding: 0 5rem;
}
