@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.App {
  font-family: 'Roboto Mono', monospace;
  background-color: #22262d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 16px;
  padding: 0 4rem 4rem 4rem;
}
