:root {
  --typewriterSpeed: 2s;
  --typewriterCharacters: 7;
}

.home-container {
  display: flex;
  gap: 3.5rem;
  align-items: center;
  justify-content: center;
  margin: 8rem 4rem 0 4rem;
}

.home {
  width: 40vw;
}
.home h1 {
  font-size: 4.5rem;
  position: relative;
  width: max-content;
}

/* Typewriter effect */
.home h1::before,
.home h1::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home h1::before {
  background: #22262d;
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

.home h1::after {
  width: 0.125em;
  background: grey;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 700ms steps(7) infinite;
}

.home span {
  font-size: 4.5rem;
  color: orange;
}

.home button {
  font-family: Roboto Mono;
  background-color: rgb(187, 0, 187);
  color: white;
  padding: 0.5rem;
  border: white;
  border-radius: 0.2rem;
  margin: 1.2rem 0;
}

.home button:hover {
  background-color: orangered;
}

.instructions {
  width: 60vw;
}

.instructions p {
  text-align: right;
  font-size: 1.4rem;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}
