.home-container {
  display: flex;
  gap: 3.5rem;
  align-items: center;
  justify-content: center;
  margin: 8rem 4rem 0 4rem;
}

.home {
  width: 40vw;
}
.home h1 {
  font-size: 2.5rem;
}

.home span {
  font-size: 2.5rem;
  color: orange;
}

.home button {
  font-family: Roboto Mono;
  color: white;
  background-color: rgb(187, 0, 187);
  padding: 0.5rem;
  border: white;
  border-radius: 0.2rem;
  margin: 1.2rem 0;
}

.instructions {
  width: 60vw;
}

.instructions p {
  text-align: right;
}
