.navbar > a {
  color: white;
  padding: 0.2rem 1rem;
}

.navbar > a.active {
  color: turquoise;
}

.navbar {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  max-width: 600px;
  float: right;
}

.navbar .link {
  margin-left: 2rem;
}
